.left-side-container {
  position: absolute;
  top: 131px;
  left: 50px;
  width: 300px;
  border: var(--main-border);
  overflow: hidden !important;
  bottom: -131px;
  margin-bottom: 131px;
  user-select: none;
}

.left-side-container::-webkit-scrollbar {
  display: none;
}

.data-row {
  padding-left: 20px;
  text-align: left;
  height: 26px;
  min-height: 28px;
  width: 100%;
  border-bottom: var(--main-border);
  font-size: var(--normal-font-size);
}

.blank-full {
  height: 100%;
  width: 100%;
}

.padding {
  width: 100%;
  position: relative;
}

.loading {
  position: absolute;
  right: 0;
  background: var(--loading-background);
  top: 131px;
  left: 50px;
  width: 301px;
  bottom: -131px;
  margin-bottom: 131px;
  cursor: wait;
  overflow: hidden;
}

.full-cell {
  height: 26px;
  width: 100%;
  position: relative;
  font-size: 15px;
  padding-top: 6px;
}
