.left-sidebar-container {
  position: absolute;
  top: 131px;
  left: 50px;
  width: 300px;
  border: var(--main-border);
  overflow-y: scroll;
  overflow-x: hidden;
  bottom: -131px;
  margin-bottom: 131px;
}

.left-sidebar-container::-webkit-scrollbar {
  display: none;
}

.data-row {
  padding-left: 20px;
  text-align: left;
  height: 26px;
  max-height: 26px;
  width: 100%;
  border-bottom: var(--main-border);
  font-size: var(--normal-font-size);
}

.blank-full {
  height: 100%;
  width: 100%;
}

.padding {
  width: 100%;
  position: relative;
}

.loading {
  position: absolute;
  right: 0;
  background: var(--loading-background);
  top: 131px;
  left: 50px;
  width: 301px;
  bottom: -131px;
  margin-bottom: 131px;
}
